* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  background: #2b2b2b;
  color: #FFF;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
header {
  padding: 1rem;
}
label {
  display: block;
  margin-bottom: 0.3rem;
}
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  outline: none;
}
input[type="text"]:focus {
  filter: drop-shadow(0 0 0.2rem #c8e5ff);
}
input[type="text"]:disabled,
button:disabled,
.btn:disabled {
  opacity: 0.6;
}
button, .btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
}
button:hover, .btn:hover {
  filter: drop-shadow(0 0 0.2rem #c8e5ff);
}
button.reset, .btn.reset {
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  display: inline;
}
button.reset:hover, .btn.reset:hover {
  color: #c8e5ff;
}

.block { display: block; }
.hide { display: none; }
.rel { position: relative; }
.abs { position: absolute; }
.tac { text-align: center; }
.tar { text-align: right; }
.p05 { padding: 0.5rem; }
.p1 { padding: 1rem; }
.fz09 { font-size: 0.9rem !important; }
.block { display: block; }
.mxauto { margin: 0 auto; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mb1 { margin-bottom: 1rem; }
.mb3 { margin-bottom: 3rem; }
.op05 { opacity: 0.5; }

.container {
  max-width: 800px;
}
.container-small {
  max-width: 400px;
}
.error {
  color: rgb(254, 121, 121);
  border: solid 1px rgb(254, 121, 121);
  border-radius: 0.25rem;
}